:root {
    --bg-color: #ececec; /* #fff */
    --text-color: #000;
  }
  
  [data-theme="dark"] {
    --bg-color: #3F3F3F;
    --text-color: rgb(66, 47, 136);
  }
  
  .App {
    /* font-family: sans-serif; */
    /* text-align: center; */
    background-color: var(--bg-color);
    color: var(--text-color);
    
  }