.blog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    padding: 2rem;
    /* margin-block: 2rem; */
    gap: 2rem;
  }
.blogs_page{
  margin: 0;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}  