.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  background-color: #f5f5f5;
}

.container_login .center_div {
  width: 25rem;
  height: 30rem;
  /* border: 10px; */
  /* justify-content: center; */
  display: flex;
  background-color: white;
  border-radius: 1rem;
  flex-direction: column;
}

.container_login .center_div .image_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.container_login .center_div .image_login img {
  max-width: 10%;
  /* height: 10%; */
}

.container_login .center_div .input_login {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3rem;
  /* height: 4rem; */
}

.container_login .center_div .input_login .username, .password, .firstname, .lastname {
  width: 70%;
  height: 2rem;
  border-radius: 0.2rem;
  border: black;
  /* opacity: 75%; */
  padding-left: 0.5rem;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
}

/* .container_login .center_div .input_login .password {
  width: 70%;
  height: 2rem;
  border-radius: 0.2rem;
  border: black;
   opacity: 75%; 
  padding-left: 0.5rem;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
} */

.container_login .center_div .login_button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.container_login .center_div .login_button button {
  width: 73%;
  height: 2rem;
  border-radius: 0.2rem;
  border: black;
  background-color: #ccccff;
}
.login_button button:hover{
  cursor: pointer;
}
.google_login{
  padding: "10px 15px";
  border-radius: "6px"; 
  border: "0px solid black";
  background-color: "#4c8bf5";
  opacity: 70%;
}
.google_login:hover {
  color: #5865f2;
  opacity: 100%;
  cursor: pointer;
}
.container_login .center_div .divider_login {
  display: flex;
  align-items: center;
  opacity: 50%;
  margin-top: 1rem;
}

.container_login .center_div .login_google {
  display: flex;
  justify-content: center;
  /* font-family: "Josefin Sans", sans-serif;
  opacity: 70%; */
  /* cursor: pointer; */
}

/* .container_login .center_div .login_google:hover {
  color: #5865f2;
  opacity: 100%;
} */

.container_login .center_div .forgot_password {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  opacity: 70%;
  cursor: pointer;
  font-size: 0.8rem;
}

.container_login .center_div .forgot_password:hover {
  color: #5865f2;
  opacity: 100%;
}

.container_login .center_div .signup_div {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.container_login .center_div .signup_div span {
  font-family: "Josefin Sans", sans-serif;
  opacity: 70%;
  cursor: pointer;
}

.container_login .center_div .signup_div:hover {
  color: #5865f2;
  opacity: 100%;
}
